body{
     overflow-x: hidden; 
}
/************************ Navibar *****************************************************/
.navbar-wrapper{
    margin-bottom: -10px;
}

.navbar-header{
    height: 50px;
}

#bs-example-navbar-collapse-1{
    height: 70px;
}

h1.page-header {
    margin-top:  -5px;
}

/************************************************** Progress Bar **********************************************************/


.row .bs-wizard {
    border-bottom: 0;
}

.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0; 
    padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0; 
    position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959; 
    font-size: 16px; 
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999; 
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute; 
    width: 30px; 
    height: 30px; 
    display: block; 
    background: #fbe8aa; 
    top: 45px; 
    left: 50%; 
    margin-top: -15px; 
    margin-left: -15px; 
    border-radius: 50%;
} 

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' '; 
    width: 14px; 
    height: 14px; 
    background: #fbbd19; 
    border-radius: 50px; 
    position: absolute; 
    top: 8px; 
    left: 8px; 
} 

.bs-wizard > .bs-wizard-step > .progress {
    position: relative; 
    border-radius: 0px; 
    height: 8px; 
    box-shadow: none; 
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width:0px; 
    box-shadow: none; 
    background: #fbe8aa;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width:100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width:50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width:0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child  > .progress {
    left: 50%; 
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child  > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ 
    pointer-events: none; 
}

/*******************************************Sign In / Register Area *********************************************************/
.sigin-register-wrapper {
    margin-top:  30px;
}

.panel-login {
    border-color: #ccc;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}

.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
}

.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}

.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

/**************************************************Address & Payment Area ********************************************************/
.address-wrapper {
}

.form-group{
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.credit-card-box label {
    display: block;
}

/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.orderShort { 
    border-bottom:1px solid #ddd;
}

.btn-order {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}

.btn-order:hover,
.btn-order:focus,
.btn-order:active,
.btn-order.active,
.open .dropdown-toggle.btn-order {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}

.margin10 {
    margin-bottom:10px; 
    margin-right:10px;
}

/************************************************** THX Area *********************************************************************/

.msg-template {
    margin-top:10px;
    padding: 40px 15px;
    text-align: center;
}

.msg-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.msg-actions .btn {
    margin-right:10px; 
}

.img-apricot-character{
    height: 300px;
    width: 300px;
}

/******************************* footer *******************************************************************/
footer-wrapper {
/*    background-image: url(../img/footer_background.jpg);*/
    width: auto;
    margin-top: 150px;
}

.list-layout li{
    list-style-type:none;
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}

#site-selection {
    padding-top: 20px;
}

#company-right {
    margin-top: 20px;
}

.btn-social-icon {margin-bottom: 4px;}
.social-class .social-hex{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:10px;opacity:.3;float:right}
.social-class li{margin-bottom:4px}.social-class li:hover .social-hex{opacity:1}
.social-class li:hover code{background-color:#e8e8ee}
.social-class code{cursor:default}