body {
  background-color: #e9eaed;
}



/******************************************************login.html & sigh.html************************************************************/
nav {
  background-color: #FBCEB1;
}

.navbar-apricot {
    /*background-color: #FBCEB1;*/
    border-bottom: 1px black solid; 
}

.login-body, .index-body{
    position: relative;
    top: 70px;
}

.login-title {
  text-align: center;
}

.login-colorbar {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4); 
  background-image: -moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
  background-image: -o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
  background-image: linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
}


.form-signin input[type="text"],
.form-signin input[type="password"] {
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
}



/*****************************************************************index.html*********************************************************************/
.post {
  /*background-color: white;*/
  padding: 10px;
}

.post-user-profile {
  width: 40px;
  height: 40px;
}
.post-date {
  color: #9197a3;;
  font-size: 12px;
}
.comment-user-profile {
  width: 32px;
  height: 32px;
}

.comment-body {
  font-size: 12px;
}

.comment-date {
  font-size: 12px;
  color: #9197a3;
}
.comment-input {
  height:  32px;
  width: 100%;
}
.comment-input-tip {
  color: #9197a3;
  font-size: 9px;
}
.comment {
  margin-bottom: 10px;
}
